@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.table tbody tr.bs td {
  background-color: #FF3D3D;
  color: #FCFFE0;
}

.table tbody tr:hover td {
  background-color: #f5f5f5;
  color: black;
}

select {
  width: 97px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  background-color: #A4D5FC;
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}